.AddRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddRestaurant h1 {
  margin: 15px 0;
  font-size: 1.5em;
  font-weight: 700;
  color: #e7711b;
}

.AddRestaurant h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 100;
  color: #2e289b;
}

.AddRestaurant h3 {
  font-size: 1em;
  color: #e7711b;
}

.Fields {
  width: 70%;
  margin-top: 25px;
}

.Fields div {
  position: relative;
}

.Fields div label {
  position: absolute;
  top: 15px;
  left: 0;
  color: #999;
  transition: .3s;
  pointer-events: none;
}

.Fields input {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
  padding: 10px 0;
  margin-bottom: 25px;
  font-size: 1.2em;
}

.Fields input:focus ~ label, .Fields input:valid ~ label {
  top: -12px;
  left: 0;
  color: #f7497d;
  font-size: 15px;
  font-weight: bold;
}

.Fields input:focus {
  border-bottom: 2px solid #f7497d;
  transition: 1.5s;
}

.Fields .Buttons {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Fields button {
  width: 40%;
  padding: 10px;
  font-size: 1.5em;
  border: 3px solid #fff;
  border-radius: 25px;
  outline: none;
  font-weight: 700;
  color: #fff;
}

.Fields button:hover {
  color: #2e289b;
  cursor: pointer;
  border: 3px solid #2e289b;
}

.Fields button:focus {
  border: 3px solid #fff;
  box-shadow: inset 0 0 10px #fff;
}

.Fields .Add {
  background-color: #00b33c;
  box-shadow: inset 0 0 10px #000;
}

.AddRestaurant button:disabled {
  background-color: #000;
}

.AddRestaurant button:hover:disabled {
  border: 3px solid #fff;
  color: #fff;
  cursor: not-allowed;
}

.Fields .Cancel {
  background-color: #e7711b;
  box-shadow: inset 0 0 15px #000;
}
