.RestaurantDetails {
  width: 100%;
  height: 100%;
}

.Title {
  background-color: #2e289b;
}

.NameAndClose {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0 15px;
}

.Name {
  font-weight: 700;
  font-size: 1.6em;
  color: #e6e600;
  text-shadow: 2px 2px 4px #000;
}

.Close {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.Close:hover {
  cursor: pointer;
}

.Close img {
  width: 100%;
  height: 100%;
}

.AverageRating {
  padding: 0 0 10px 15px;
  margin-top: 5px;
  color: #e6e600;
}

.StreetVievContainer {
  width: 100%;
  line-height: 0;
}

.StreetVievContainer img {
  width: 100%;
}

.AddressInfo {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #2e289b;
}

.AddressInfo, .PhoneInfo, .WebsiteInfo {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #2e289b;
}

.AddressInfo {
  border-top: 1px solid #2e289b;
}

.AddressInfo img, .PhoneInfo img, .WebsiteInfo img {
  width: 25px;
  height: 25px;
}

.PhoneInfo img {
  transform: scaleX(-1);
}

.AddressInfo p, .PhoneInfo p, .WebsiteInfo p {
  margin: 0 0 0 15px;
  font-weight: 700;
}

.WebsiteInfo p {
  word-break: break-all;
}
