.Rating {
  display: flex;
  height: 25px;
  align-items: center;
  background-color: inherit;
  color: inherit;
}

.RatingNumber {
  align-self: flex-end;
  height: 21px;
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 10px;
  color: #e7711b;
}

.RatingStars {
  height: 21px;
}

.StarsRatingSprite {
  background: url('../../../../../assets/backgrounds/star-rating-sprite.png') repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

.StarsRatingSpriteRating {
  background: url('../../../../../assets/backgrounds/star-rating-sprite.png') repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display:block;
}

.NoRating {
  height: 25px;
  font-size: 1.1em;
  font-weight: 700;
  background-color: inherit;
  color: inherit;
}

.NoRating p {
  margin: 0;
  color: #e7711b;
}
